footer#footer.footer
	.container
		.footer__inner
			a.footer__logo(href="/" data-aos='fade-up-20' data-aos-delay='100')
				+logo.footer__logo-img
			ul.footer__links
				li.footer__link(data-aos='fade-up-20' data-aos-delay='200')
					h4.footer__link-title Address
					a.footer__link-href(href="#") Luzernerstrasse 236, CH-6402 Merlischachen, Switzerland
				li.footer__link(data-aos='fade-up-20' data-aos-delay='300')
					h4.footer__link-title Phone
					a.footer__link-href(href="tel:109-446-9672") 109-446-9672
				li.footer__link(data-aos='fade-up-20' data-aos-delay='400')
					h4.footer__link-title Mail
					a.footer__link-href(href="mailto:info@glenport.com") info@glenport.com
		.footer__copy(data-aos='fade-up-20' data-aos-delay='500')
			p.footer__copy-text all rights reserved © 2023 www.impact-glenport.ch