header#header.header
	.container(data-aos='fade' data-aos-delay="1500")
		.header__inner
			a.header__logo(data-logo-btn)
				+logo.header__logo-img
			include ../components/menu
			include ../components/burger