.howWeWork {
	padding-bottom: 64px;
	&__inner {
		display: flex;
		flex-direction: column;
	}
	&__title {
		padding-right: 40px;
	}
	&__list {
		margin-top: 40px;
		width: 100%;
		padding-left: 28px;
		overflow-y: hidden;
		padding-bottom: 40px;
	}
	&__list-item {
		position: relative;
		@include flex(flex-start, flex-start);
		&:not(:first-child) {
			margin-top: 64px;
		}
		span {
			position: absolute;
			left: -28px;
			top: 50%;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: $primary-200;
			transition: $transition;
		}
		&::before {
			content: "";
			position: absolute;
			left: -23px;
			bottom: 5px;
			height: 95px;
			width: 2px;
			background-color: $primary-200;
		}
		&::after {
			content: "";
			position: absolute;
			left: -23px;
			bottom: 5px;
			height: 95px;
			width: 2px;
			background-color: $primary-400;
			transform-origin: top;
			transition: $transition;
			transform: scaleY(0);
		}
	}
	&__list-item.active {
		span {
			background-color: $primary-400;
		}
		&::after {
			transform: scaleY(1);
		}
		.howWeWork__item-image {
			width: 32px;
		}
		.howWeWork__item-title {
			color: $primary-950;
		}
	}
	&__list-item:last-child::before {
		content: "";
		position: absolute;
		left: -23px;
		bottom: -31px;
		height: 131px;
		width: 2px;
		background-color: $primary-200;
		&.active {
			background-color: $primary-400;
		}
	}
	&__list-item:last-child::after {
		bottom: -31px;
		height: 131px;
	}
	&__item-image {
		width: 0;
		height: 32px;
		margin-right: 16px;
		transition: all ease-in-out .5s;
	}
	&__item-title {
		width: 274px;
		height: 32px;
		color: $primary-200;
		transition: color ease-in-out .5s;
	}

	@include phone {
		&__item-title {
			width: 504px;
		}
	}

	@include table {
		&__item-title {
			width: 100%;
		}
	}

	@media screen and (min-width: 1400px) {
		&__inner {
			flex-direction: row;
			justify-content: space-between;
		}
		&__list {
			width: 920px;
		}
	}
}