.partners {
  padding-bottom: 60px;
  margin-bottom: 116px;
  &__scrolling-bar {
		&:last-child {
			bottom: -56px;
		}

    .block__text {
      font-family: $Outfit_Bold, sans-serif;
      font-size: 18px;
      line-height: 24px;
      text-transform: unset;
      color: $primary-300;
    }

    .scrolling-bar__block-wrapper {
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      will-change: transform;
      animation: scrollText 350s linear infinite -350s;

      &:nth-child(2) {
      	animation: scrollTextNext 350s linear infinite -175s;
      }
    }

    .scrolling-bar__block-wrapper.reverse {
      animation: reverseScrollText 350s linear infinite -350s;

      &:nth-child(2) {
        animation: reverseScrollTextNext 350s linear infinite -175s;
      }
    }
  }
}
